html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Griffy", cursive;
}

.container {
  display: flex;
  width: 960px;
  height: 600px;
  border: black;
  border-style: solid;
  box-shadow: 10px 5px 5px grey;
}

.box {
  flex-grow: 1;
  flex: 1 1 auto;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  margin-right: 130px;
  flex-direction: column;
}

.footer {
  margin-left: 50px;
}

a#ye:hover,
a#ye:link {
  color: royalblue;
  text-decoration: rgb(227, 40, 40) wavy underline;
}

a:visited {
  color: crimson;
}
